SDLApplication/obj/project.assets.json
SDLApplication/obj/project.nuget.cache
SDLApplication/obj/SDLApplication.csproj.nuget.dgspec.json
SDLApplication/obj/SDLApplication.csproj.nuget.g.props
SDLApplication/obj/SDLApplication.csproj.nuget.g.targets
SDLApplication/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SDLApplication/obj/Debug/net7.0/SDLApplication.AssemblyInfo.cs
SDLApplication/obj/Debug/net7.0/SDLApplication.AssemblyInfoInputs.cache
SDLApplication/obj/Debug/net7.0/SDLApplication.assets.cache
SDLApplication/obj/Debug/net7.0/SDLApplication.csproj.AssemblyReference.cache
SDLApplication/obj/Debug/net7.0/SDLApplication.csproj.CoreCompileInputs.cache
SDLApplication/obj/Debug/net7.0/SDLApplication.csproj.FileListAbsolute.txt
SDLApplication/obj/Debug/net7.0/SDLApplication.dll
SDLApplication/obj/Debug/net7.0/SDLApplication.GeneratedMSBuildEditorConfig.editorconfig
SDLApplication/obj/Debug/net7.0/SDLApplication.GlobalUsings.g.cs
SDLApplication/obj/Debug/net7.0/SDLApplication.pdb
SDLApplication/obj/Debug/net7.0/ref/SDLApplication.dll
SDLApplication/obj/Debug/net7.0/refint/SDLApplication.dll
SDLApplication/bin/Debug/net7.0/SDLApplication.deps.json
SDLApplication/bin/Debug/net7.0/SDLApplication.dll
SDLApplication/bin/Debug/net7.0/SDLApplication.pdb
bin
obj

